.contatos {
  width: 100%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    " video redes "
    " sobre sobre "
  ;
  row-gap: 5rem;
  text-transform: uppercase;
  color: #cccccc;
}

.video-contato {
  height: 500px;
  margin: auto;
  box-shadow: 10px 10px 10px #000000;
  grid-area: video;
  border-radius: 30px;
}

.info-ct {
  margin: auto;
  grid-area: redes;
}

.descriçao-contato {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: white;
  color: black;
  text-transform: none;
  margin: auto;
  grid-area: sobre;
  width: 90%;
}

.name-ct {
  text-align: center;
  width: fit-content;
  font-size: 28px;
  padding: 25px;
}

.redes-ct {
  width: 80%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 3rem;
  padding: 10px;
  margin-top: 25px;
}

.li-rede {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inf-ct {
  margin: auto;
}

.link-ct {
  margin: auto;
}

.link-ct:hover {
  transform: scale(1.2);
  transition: .5s;
}

.tabela-hr {
  color: wheat;
  background-color: #000000c5;
  font-size: 22px;
  margin: 50px;
}

tr,
td {
  border: 1px solid wheat;
  text-align: center;
  padding: 10px 15px;
}

.mapa {
  margin: 100px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mapa-contato {
  border-radius: 30px;
}

@media screen and (max-width:850px) {
  .name-ct {
    font-size: 26px;
  }

  .inf-ct {
    font-size: 12px;
  }
}

@media screen and (max-width:670px) {
  .tabela-hr {
    font-size: 14px;
  }

  .contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 2rem;
  }

  .video-contato {
    height: 350px;
  }

  .info-ct {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
  }

  .name-ct {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .redes-ct {
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
  }

  .li-rede {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: bottom;
    justify-content: space-between;
  }

  .inf-ct {
    padding: 10px 0;
  }
}