@import url(contato.css);
@import url(galeria.css);
@import url(curso.css);





:root {
    --grey: #c0c0c0;
    --red: rgb(255, 129, 129);
    --wihte: rgb(255, 255, 255);
    --bck: #000000;
    --grey-bg: #9e9e9e;
}

body {
    background-image: url(https://scontent.fssz10-1.fna.fbcdn.net/v/t39.30808-6/342994760_187792300753220_1686344276135722900_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGHnC1xFAsVPobNacshVd03JtpoP2_KIVkm2mg_b8ohWU1F6jTDl5zGxLY-3L5N1dcDohjACPEYrnJL5wuZuvr9&_nc_ohc=mKx65wWrUygAX_FMv4a&_nc_ht=scontent.fssz10-1.fna&oh=00_AfC3BM4CiOUde2qMgWACkR9kvvg4NLd4j4nx0kSarl36Pg&oe=64A7BBD9);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;


}

.header {
    background-color: black;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    position: relative;
    z-index: 11;
}

.logo-oficina {
    margin: auto;
    max-width: 300px
}



.check-bt:checked~.lista-menu {
    margin-left: 55%;
    transition: .3s;
    opacity: 100%;
}

.check-bt:checked~.menu-ativo>.bt-menu {
    background-image: url(fts/Menu\ Aberto.svg);
}

.bt-menu {
    background-image: url(.//fts/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

.check-bt,
.lista-menu {
    display: none;
}



.lista-menu {
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    width: 45%;
    height: fit-content;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 100%;
    margin-left: 30%;
    opacity: 0%;
}

.menu-item {
    background-color: #000000;
    padding: 25px 0;
    width: 100%;
    text-align: center;
    box-shadow: inset 0px 0px 10px rgb(240, 237, 237);
    transition: .2s;

}

.menu-item:hover {
    box-shadow: inset 5px 0px 25px rgba(141, 120, 196, 0.804);
    transition: .2s;

}

.header-lista {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2rem;
    color: #cccccc;
}

.hdr-li {
    padding: 5px;
    margin: 5px 20px 5px 20px;
    box-sizing: border-box;
}

.hdr-li:hover {
    color: red;
    transition: 1s;
    text-decoration: underline 1px;
    border-radius: 5px;
}

.logo-oficina:hover {
    transition: 1s;
    opacity: 50%;

}

.sobre {

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}


.box-img {
    margin: 20px auto;
}

.oficina-imagem {
    border-radius: 10px 50px;
    box-shadow: 3px 3px 6px black;

}



.descriçao-container {
    margin-top: 35px;
    color: var(--bck);
    width: 100%;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    box-sizing: border-box;
    padding: 0 15px;
}

.titulo-home {
    background-color: var(--grey-bg);
    padding: 10px 20px;
    font-size: 32px;
    font-weight: bold;
    box-shadow: 3px 3px 5px black;

}


.descriçao-home {
    margin: 20px auto;
    background-color: var(--grey-bg);
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;


}

.bt-formato {
    background-color: rgb(200, 4, 4);
    color: var(--bck);
    display: flex;
    width: max-content;
    height: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black, inset 3px 2px 2px wheat;




}

.bt-formato:hover {
    transform: scale(1.2);
    transition: 1s;
}

.bt-link {
    align-self: center;

}

.titulo-bt {
    font-weight: bold;
    font-size: 20px;
    grid-column: 1 /span2;
    align-self: center;

}

.img-bt1 {
    background-color: #000000;
    grid-column: 2;
    padding: 5px;
}

.rodape {
    background-color: black;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
    opacity: 60%;
}



@media screen and (max-width:375px) {

    .descriçao-home {
        font-size: 12px;
    }

}




@media screen and (max-width:1000px) {
    .sobre {
        display: flex;
        justify-content: center;
    }

    .hdr-li {
        margin: 5px 15px 5px 15px;
    }




}


@media screen and (max-width:850px) {
    .logo-oficina {
        max-width: 300px;
        width: 100%;
        margin: auto;
    }

    .header-lista {
        justify-content: space-evenly;
        font-size: 1rem;
    }

    .sobre {
        display: flex;
        flex-direction: column;


    }

    .box-img {
        margin-top: 20px;
    }

    .titulo-home {
        font-size: 26px;
    }

    .descriçao-container {
        width: 100%;
        height: 75vh;
        display: flex;
        font-size: 18px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

}

@media screen and (max-width:670px) {
    .logo-oficina {
        max-width: 220px;
        width: 100%;
        margin: auto;
    }

    .header-lista {
        display: none;
    }

    .descriçao-container {
        width: 100%;
    }

    .hdr-menu {
        display: flex;
        margin: auto;
        padding: 10px;
    }

    .header {
        height: 10vh;
    }

    .sobre {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .bt-menu {
        display: inline-block;
    }

    .lista-menu {
        display: flex;
    }

    .menu-ativo {
        display: flex;
        justify-content: center;
        border-radius: 5px;
    }



}